<%- include("header") -%>
<div class="box">
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" method="post" action="/log">
      <input class="un " name="username" type="text" align="center" style="margin-left: 23%;" placeholder="Username">
      <input class="pass" name="password" type="password" align="center" style="margin-left: 23%;"  placeholder="Password">
      <br><br>
      <a class="submit" type="submit"><button type="submit" style="background-color: transparent; font-size: 13px;">Login</button></a> <a class="submit" href="/register" >Register</a>
      <br><br>  
    </form>
  </div>
</div>
<%- include("footer") -%>